""""""""""""""""""""""""""""""""""""""Configuration""""""""""""""""""""""""""""""""""""""
let mapleader="\<Space>"
set scrolloff=5
set incsearch
set hlsearch
set ignorecase
set smartcase
set showmatch
set showmode
set nu
set clipboard+=unnamed
set clipboard+=ideaput
set cursorline

""" Plugins  --------------------------------
" set easymotion
set sneak
set surround
set keep-english-in-normal
set NERDTree
set ReplaceWithRegister
set argtextobj
set multiple-cursors
set which-key
set highlightedyank
set quickscope

""" Plugin settings ----------------------------------
let g:argtextobj_pairs="(:),{:},<:>"
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <S-C-n> <Plug>AllWholeOccurrences
xmap <S-C-n> <Plug>AllWholeOccurrences
nmap g<S-C-n> <Plug>AllOccurrences
xmap g<S-C-n> <Plug>AllOccurrences

set timeoutlen=5000

""""""""""""""""""""""""""""""""""""""Basics""""""""""""""""""""""""""""""""""""""
"Motion specialization
vmap <C-h> 10zh
vmap <C-l> 10zl
" imap <C-j> <Down>
" imap <C-k> <Up>
" imap <C-h> <Left>
" imap <C-l> <Right>
" imap <C-i> <CR>
"Left and right vision
nnoremap zH 50zh
nnoremap zL 50zl
"^$ The symbol is too hard to press
inoremap jk <ESC>
nnoremap H ^
vnoremap H ^
nnoremap L $
vnoremap L $
nnoremap j gj
nnoremap k gk

" 复制一行不包括换行符
nnoremap yil ^y$

nnoremap - :split<CR>
nnoremap \ :vsplit<CR>

""""""""""""""""""""""""""""""""""""""Jump articles""""""""""""""""""""""""""""""""""""""
nnoremap gt :action GotoTest<CR>
" nnoremap <Leader>tc :action GotoClass<CR>
nnoremap <Leader>ne :action GotoNextError<CR>
nnoremap <Leader>pe :action GotoPreviousError<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
" nnoremap <leader>gl :action JumpToLastChange<CR>
" nnoremap <leader>gn :action JumpToNextChange<CR>
" nnoremap <Leader>rf :action RecentFiles<CR>
" nnoremap <Leader>rcf :action RecentChangedFiles<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap gO :action PreviousOccurence<CR>
nnoremap go :action NextOccurence<CR>

""""""""""""""""""""""""""""""""""""""Run""""""""""""""""""""""""""""""""""""""
nnoremap <leader>rc :action RunConfiguration<CR>
" nnoremap <leader>rr :action Run<CR>
" nnoremap <leader>rn :action RunClass<CR>
" nnoremap <leader>dn :action DebugClass<CR>
" nnoremap <leader>cc :action Coverage<CR>
" nnoremap <leader>cn :action RunCoverage<CR>

""""""""""""""""""""""""""""""""""""""Debug""""""""""""""""""""""""""""""""""""""
nnoremap <leader>ds :action ChooseDebugConfiguration<CR>
" nnoremap <leader>ds :action Debug<CR>
nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>do :action StepOut<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>dt :action ToggleLineBreakpoint<CR>
nnoremap <leader>dC :action ForceRunToCursor<CR>
nnoremap <leader>dE :action QuickEvaluateExpression <CR>
nnoremap <leader>de :action EvaluateExpression <CR>
" nnoremap <leader>fr :action Debugger.ForceEarlyReturn<CR>
" nnoremap <leader>daw :action Debugger.AddToWatch<CR>
" very important in debug
" nnoremap <leader>hs :action Hotswap<CR>
" nnoremap <leader>rb :action Debugger.RemoveAllBreakpointsInFile<CR>
" nnoremap <leader>rab :action Debugger.RemoveAllBreakpoints<CR>
" nnoremap <leader>df :action Debugger.PopFrame<CR>
" nnoremap <leader>pp :action ShowExecutionPoint<CR>
" nnoremap <leader>ds :action StreamTracerAction<CR>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<CR>
nnoremap <leader>dv :action ViewBreakpoints<CR>
nnoremap <leader>db :action EditBreakpoint<CR>

""""""""""""""""""""""""""""""""""""""Git""""""""""""""""""""""""""""""""""""""
vnoremap <Leader>ga :action Annotate<CR>
nnoremap <Leader>ga :action Annotate<CR>
nnoremap <Leader>gd :action Compare.SameVersion<CR>

""""""""""""""""""""""""""""""""""""""Buffer""""""""""""""""""""""""""""""""""""
nnoremap [b :action PreviousTab<CR>
nnoremap ]b :action NextTab<CR>
nnoremap <Leader>bf :action RevealIn<CR>
" select in project view
nnoremap <Leader>bp :action SelectInProjectView<CR>

"关闭其他所有
nnoremap <Leader>bo :action CloseAllEditorsButActive<CR>
"关闭右侧的tab
nnoremap <Leader>bl :action CloseAllToTheRight<CR>
"关闭左侧的tab
nnoremap <Leader>bh :action CloseAllToTheLeft<CR>
"关闭所有tab
nnoremap <Leader>ba :action CloseAllEditors<CR>
nnoremap <Leader>bc :action CloseContent<CR>

""""""""""""""""""""""""""""""""""""""Lsp""""""""""""""""""""""""""""""""""""
nnoremap <Leader>lf :action ReformatCode<CR>
nnoremap <Leader>lr :action RenameElement<CR>
vnoremap <Leader>ls :action SurroundWith<CR>
nnoremap <Leader>li :action OptimizeImports<CR>

""""""""""""""""""""""""""""""""""""""Window""""""""""""""""""""""""""""""""""""""
nnoremap <Leader>wm  :action ActivateMavenToolWindow<CR>
nnoremap <Leader>wd  :action ActivateDatabaseToolWindow<CR>
" nnoremap <Leader>aT   :action ActivateTODOToolWindow<CR>
" nnoremap <Leader>af :action ActivateFavoritesToolWindow<CR>
nnoremap <Leader>wp :action ActivateProjectToolWindow<CR>
nnoremap <Leader>wg :action ActivateVersionControlToolWindow<CR>
nnoremap <Leader>ws :action ActivateServicesToolWindow<CR>
nnoremap <Leader>wr :action ActivateRestServicesToolWindow<CR>
nnoremap <Leader>wd :action ActivateDebugToolWindow<CR>
" nnoremap <Leader>aw :action ActivateRunToolWindow<CR>
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>wt :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>wM :action MaximizeToolWindow<CR>
nnoremap <Leader>wh :action HideAllWindows<CR>
nnoremap <Leader>wz :action ToggleZenMode<CR>
" nnoremap <Leader>mog :action MoveEditorToOppositeTabGroup<CR>
" nnoremap <Leader>nw :action NextProjectWindow<CR>
" nnoremap <Leader>pw :action PreviousProjectWindow<CR>
" nnoremap <Leader>lw :action JumpToLastWindow<CR>
" nnoremap <Leader>tw :action Terminal.OpenInTerminal<CR>
" nnoremap <C-Left> :action StretchSplitToLeft<CR>
" nnoremap <C-Right> :action StretchSplitToRight<CR>
" nnoremap <C-Up> :action StretchSplitToTop<CR>
" nnoremap <C-Down> :action StretchSplitToBottom<CR>
" nnoremap <Leader>uw :action Unsplit<CR>
" nnoremap <Leader>uW :action UnsplitAll<CR>

""""""""""""""""""""""""""""""""""""""Information""""""""""""""""""""""""""""""""""""""
nnoremap <Leader>ie :action ShowErrorDescription<CR>
nnoremap <Leader>it :action ExpressionTypeInfo<CR>
nnoremap <Leader>ip :action ParameterInfo<CR>
nnoremap <Leader>is :action FileStructurePopup<CR>
nnoremap <Leader>id :action ShowUmlDiagram<CR>
nnoremap <Leader>ic :action CallHierarchy<CR>
nnoremap <Leader>iu :action FindUsages<CR>
nnoremap <Leader>im :action MethodHierarchy<CR>

""""""""""""""""""""""""""""""""""""""Utilities""""""""""""""""""""""""""""""""
nnoremap <leader>ua :action ShowIntentionActions<CR>
nnoremap <Leader>um :action ShowPopupMenu<CR>
" nnoremap <Leader>st :action SaveAsTemplate<CR>
nnoremap <Leader>uP   :action CopyAbsolutePath<CR>
nnoremap <Leader>up   :action CopyContentRootPath<CR>
nnoremap <Leader>ur :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>ud :action EditorPopupMenuDebug<CR>
" nnoremap <Leader>cv :action ChangeView<CR>
" nnoremap <Leader>ag :action antlr.Generate<CR>
" nnoremap <Leader>bc   :action ByteCodeViewer<CR>
" nnoremap <Leader>gfu :action GenerateFullRestUrl<CR>
" nnoremap <Leader>atf :action AddToFavorites<CR>
" nnoremap <Leader>cE :action CopyElement<CR>
" nnoremap <Leader>nE :action NewElement<CR>
" nnoremap <Leader>dE :action SafeDelete<CR>
" nnoremap <Leader>cp :action CheckinProject<CR>
" nnoremap <Leader>nc :action NewClass<CR>
" nnoremap <Leader>ga :action Generate<CR>
" nnoremap <Leader>cu :action CloseAllUnmodifiedEditors<CR>

" 查找光标选中的内容
vmap * "ry/<C-R>r<CR>N
vmap # "ry/<C-R>r<CR>n

vnoremap <C-C> "+y
vnoremap <C-x> "+d
vnoremap <C-Insert> "+y
vnoremap <C-V> "+P
imap <C-V> <C-R>+
map <S-Insert> "+P
cmap <C-V> <C-R>+
cmap <S-Insert> <C-R>+
nnoremap <C-a> ggVG
imap <C-a> <ESC>ggVG
vmap <C-a> <ESC>ggVG

" 移动 焦点  到拆分 窗口
nnoremap gh <C-W>h
nnoremap gl <C-W>l
nnoremap gk <C-W>k
nnoremap gj <C-W>j
" nnoremap <C-m> :nohl<CR>
" inoremap <C-m> <ESC>:nohl<CR>